* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    position: relative;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.logo {
    width: 100px; /* Ajuste conforme o tamanho desejado */
    height: 100px; /* Ajuste para tornar a imagem circular */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem preencha o círculo sem distorção */
    position: absolute;
    left: 20px; /* Ajusta o espaço do lado esquerdo */
    top: 105%; /* Aumenta a porcentagem para descer a imagem um pouco mais */
    transform: translateY(-50%); /* Centraliza verticalmente em relação ao header */
}

h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.whatsapp-link {
    text-decoration: none;
    color: white;
    background-color: #25D366;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.whatsapp-link:hover {
    background-color: #1ebe52;
}

.whatsapp-logo {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.search-container {
    text-align: center;
    margin-top: 1rem;
}

input[type="text"] {
    width: 80%;
    max-width: 600px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
}

#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.item {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
